---
layout: default
---
<div class="post">
  <h2>{{ page.title }}</h2>
  <div class="body">{{ content }}</div>
  <div class="breaker"></div>
  <postamble datetime="{{ page.date | date: "%Y-%m-%d" }}">
    &mdash;{{ page.date | date: "%b %d, %Y" }}
  </postamble>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    window.disqus_identifier = {% if page.tumblr_id %}"{{ page.tumblr_id }}"{% else %}"{{ page.id }}"{% endif %};
  </script>
  <script async src="http://hunch.disqus.com/embed.js"></script>
  <noscript>Please enable JavaScript to view the
    <a href="http://disqus.com/?ref_noscript=hunch">comments powered by Disqus.</a>
  </noscript>
</div>
{% include disqus.html %}

